ul.nav-tabs(ngbNav, #nav='ngbNav')
    li(ngbNavItem)
        a(ngbNavLink, translate) General
        ng-template(ngbNavContent)
            .mb-3
                label(translate) WebSocket URL
                input.form-control(
                    type='text',
                    placeholder='wss://your.domain.com/k8sexec?namespace=xxx&pod=xxx...',
                    [(ngModel)]='profile.options.wsUrl',
                )
                small.form-text.text-muted(translate)
                    | Enter the full WebSocket URL including authentication parameters

            .mb-3
                label(translate) Startup Command / Shell
                input.form-control(
                    type='text',
                    placeholder='bash, zsh, etc.',
                    [(ngModel)]='profile.options.shell',
                )
                small.form-text.text-muted(translate)
                    | Command to execute automatically after connection (e.g. bash to switch shell)

            .form-check.mb-3
                input.form-check-input#confirmDisconnect(
                    type='checkbox',
                    [(ngModel)]='profile.options.confirmDisconnect',
                )
                label.form-check-label(for='confirmDisconnect', translate) Confirm disconnect

div([ngbNavOutlet]='nav')
